{% extends 'Admin/base.html' %}

{% block content %}
<nav class="navbar navbar-expand-sm   bg-primary">
  <a class="navbar-brand text-light" href=" ">Suraj Sahani</a>
  <ul class="navbar-nav">

    <li class="nav-item">
      <a class="nav-link  text-light" href=" ">Django First Project</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href=" ">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link  text-light" href="{% url 'addandshow'  %}">Admin</a>
    </li>

  </ul>
</nav>
<div class="container mt-5">
      <h2 class="text-center alert alert-primary">STUDENT MANAGEMENT SYSTEM</h2>
<div class="container-fluid mt-5">
   <div class="col-sm-12 ">
           <h4 class="text-center text-primary">Student Information</h4>
        {% if stu %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Father Name</th>
      <th scope="col">Age</th>
      <th scope="col">DOB</th>
      <th scope="col">Roll Number</th>
      <th scope="col">Address</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  {% for st in stu %}
    <tr>
      <th scope="row">{{st.id}}</th>
      <td>{{st.name}}</td>
      <td>{{st.fatherName}}</td>
      <td>{{st.age}}</td>
      <td>{{st.dob}}</td>
      <td>{{st.rollNumber}}</td>
      <td>{{st.address}}</td>
      <td>{{st.phone}}</td>
      <td>{{st.email}}</td>

      <td>
          <a href="{% url 'updatedata' st.id %}" class="btn btn-info btn-sm">Edit</a>
          </td>
        <td>
          <form action="{% url 'deletedata' st.id %}" method="post" class="d-inline">
              {% csrf_token %}
              <input type="submit" class="btn btn-danger btn-sm" value="Delete">
          </form>

      </td>

    </tr>
  {% endfor %}

  </tbody>
</table>
        {% else %}
        <h4>No Records</h4>
        {% endif %}

    </div>

    </div>
</div>
{% endblock content %}